@import "tailwindcss";
body{
    margin: 0;
   padding: 0;
   box-sizing: border-box;  

}
/* index.css */
/* global.css or in <style> tag */
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #111;
  color: white;
}


@font-face {
  font-family: 'WhisperingSignature';
  src: url('./assets/WhisperingSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BravenRegular';
  src: url('./assets/BravenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-whisper {
  font-family: 'WhisperingSignature', cursive;
}
.font-braven {
  font-family: 'BravenRegular', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}


@theme {
  --color-primary: #C49E5B;
}
